<%- include('../partials/header') %>
<main>
  <div class="dashboard">
    <h2>All Tasks</h2>
    <img src="<%= user.avatar %>" referrerpolicy="no-referrer" class="avatar" />

    <a href="/tasks/new">
      <button>&nbsp;Add Task&nbsp;<i class="fa fa-plus">&nbsp;</i></button>
    </a>

    <h3>Number of records shown: <%= task.length %></h3>

    <form action="/tasks/searchtext" method="GET">
      <label for="task">Search tasks: <input type="text" name="task" /></label>
      <button type="submit">
        &nbsp;Search&nbsp;<i class="fa fa-search"></i>&nbsp;
      </button>
    </form>

    <form action="/tasks/search" method="GET">
      <label for="month">Month: <input type="month" name="month" /></label>
      <label for="start">Start Date: <input type="date" name="start" /></label>
      <label for="end">End Date: <input type="date" name="end" /></label>

      <label for="category"
        >Type:
        <select name="category">
          <option value="All">All</option>
          <option value="Work">Work</option>
          <option value="Study">Study</option>
          <option value="Sport">Sport</option>
          <option value="House">House</option>
          <option value="BMC">BMC</option>
          <option value="Car">Car</option>
          <option value="Financial">Financial</option>
          <option value="Health">Health</option>
          <option value="Family">Family</option>
          <option value="Friends">Friends</option>
          <option value="Fun">Fun</option>
          <option value="Occasion">Occasion</option>
          <option value="Other">Other</option>
        </select></label
      >

      <button type="submit">
        &nbsp;Filter Tasks&nbsp;<i class="fa fa-filter"></i>&nbsp;
      </button>
    </form>
    <a href="/tasks">
      <button>&nbsp;Refresh&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
    </a>
    <% if (message) { %>
    <p class="error"><%= message %></p>
    <% } %>
  </div>
  <% if (!message) { %>
  <div class="results">
    <table>
      <thead>
        <tr>
          <th>&nbsp;&nbsp;</th>
          <th>&nbsp;Date&nbsp;</th>
          <th>&nbsp;Month&nbsp;</th>
          <th>&nbsp;Type&nbsp;</th>
          <th>&nbsp;Task/Occasion&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% task.forEach(function(t) { %>
        <tr>
          <% if (user?._id.equals(t.user._id)) { %>
          <td>
            <a href="/tasks/show/<%= t.id %>"
              ><i id="search" class="fa fa-search"></i
            ></a>
          </td>
          <% } else { %>
          <td></td>
          <% } %>
          <td>&nbsp;<%= dayjs(t.date).format('DD/MM/YY'); %>&nbsp;</td>
          <td>&nbsp;<%= dayjs(t.month).format('MMM YY'); %>&nbsp;</td>
          <td>&nbsp;<%= t.category %>&nbsp;</td>
          <td>&nbsp;<%= t.task %>&nbsp;</td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <% } %>
</main>
<%- include('../partials/footer') %>
