<%- include('../partials/header') %>
<main>
  <div class="dashboard">
  <h2>Edit Task</h2>
 
  <form action="/tasks/update/<%= task.id %>?_method=PUT" method="POST">
    <label for="date">Date:</label>
    <input type="date" name="date" value="<%= dayjs(task.date).format('YYYY-MM-DD') %>" />
    <label for="task">Task:</label>
    <textarea name="task" rows="15" cols="25"><%= task.task%></textarea>
      
    <label for="category">Type:</label>
      <select name="category">
        <option value="Work" <% if (task.category === "Work")  { %> selected <% } %>>Work</option>
        <option value="Study" <% if (task.category === "Study")  { %> selected <% } %>>Study</option>
        <option value="Sport" <% if (task.category === "Sport")  { %> selected <% } %>>Sport</option>
        <option value="House" <% if (task.category === "House")  { %> selected <% } %>>House</option>
        <option value="Car" <% if (task.category === "Car")  { %> selected <% } %>>Car</option>
        <option value="BMC" <% if (task.category === "BMC")  { %> selected <% } %>>BMC</option>
        <option value="Financial" <% if (task.category === "Financial")  { %> selected <% } %>>Financial</option>
        <option value="Health" <% if (task.category === "Health")  { %> selected <% } %>>Health</option>
        <option value="Family" <% if (task.category === "Family")  { %> selected <% } %>>Family</option>
        <option value="Friends" <% if (task.category === "Friends")  { %> selected <% } %>>Friends</option>
        <option value="Fun" <% if (task.category === "Fun")  { %> selected <% } %>>Fun</option>
        <option value="Occasion" <% if (task.category === "Occasion")  { %> selected <% } %>>Occasion</option>
        <option value="Other" <% if (task.category === "Other")  { %> selected <% } %>>Other</option>
      </select>

    <button type="submit">
      &nbsp;Edit Task&nbsp;<i class="fa fa-edit"></i>&nbsp;
    </button>
  </form>
  <form
            action="/tasks/<%= task.id %>?_method=DELETE"
            class="delete-form"
            method="POST"
          >
            <button class="delete-button" type="submit">
              &nbsp;Delete Task&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
            </button>
          </form>
          <p class="error"><%= message %></p>
        </div>
</main>
<%- include('../partials/footer') %>
